<div class="container">
  <h1 class='roboto'>Liste des joueurs</h1>
  <p><%= link_to 'Add a new player', new_player_path, class: "btn btn-primary" %></p>


  <table class="table">
    <tr>
      <th>ID</th>
      <th>Prénom</th>
      <th>Nom</th>
      <th>email</th>
      <th>Tel</th>
      <th>Password</th>
      <th>Team</th>
      <th>edit</th>
      <th>delete</th>
    </tr>
    <% @players.each do |player| %>
    <tr>

      <th><%= link_to player.id, player_path(player.id) %></th>
      <td><%= player.first_name %></td>
      <td><%= player.last_name %></td>
      <td><%= player.email %></td>
      <td><%= player.phone_number %></td>
      <td><%= player.password %></td>
      <% if player.team.nil? %>
      <td><%= link_to 'join team', join_team_player_path(player) %></td>
      <% else %>
      <td><%= player.team.name %></td>
      <% end %>
      <td><%= link_to 'edit', edit_player_path(player.id) %></td>
      <td><%= link_to 'supp', player_path(player.id),
      method: :delete, data: { confirm: "Confime stp" }  %></td>
    </tr>
    <% end %>
  </table>
</div>


